*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

input,
textarea,
button,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
